<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
    </head>
    <body>
    {% if name == "kiyokiyo" %}
    <h1>スペシャル{{name}}神社</h1>
    {% elif name %}
    <h1>{{name}}神社</h1>
    {% else %}
    <h1>ただの神社</h1>
    {% endif %}
    <form action="/index" method="POST">
        <input type="text" name="name" placeholder="Enter name">
        <input type="submit" value="Submit">
    </form>
    <img src="/static/images/torii.jpg" alt="鳥居">
    <!-- 以下を変更 -->
    {% for onegai in all_onegai %}
    <p>{{onegai.title}}:{{onegai.body}}（{{onegai.date}}）</p>
    {% endfor %}
    <!-- 変更終わり -->
    </body>
</html>
